

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 140px;
}

.nav-title{
    font-weight: 800;
    font-size: 30px;
}
.text-primary{
    color: #FD6E0A;
}

nav ul li{
    list-style: none;
    margin-right: 40px;
}

nav li a{
    text-decoration: none;
    font-size: 16px;
    
}


.dark-2{
    color: #474747;
}

nav ul{
    display: flex;
    align-items: center;
    
}


.button-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    
    padding: 15px 13px;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    

}
.button-secondary{
    background-color: white;
    color:  #FD6E0A;
    font-weight: bold;
    
    padding: 15px 13px;
    border-radius: 5px;
    font-size: 17px;
    border-color: #FD6E0A;

}


.banner-greetings{
    font-weight: 500;
    font-size: 40px;
}

.banner-title{
    font-size: 78px;
    font-weight: bold;
    color: #181818;
}

.banner-descripstion{
    font-size: 15px;
    color: #757575;
}

.banner{display: flex;
    justify-content: space-between;
    margin: 0px 30px 0 200px;
    
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.section-title{
    font-size: 30px;
    font-weight: bold;
}

.section-description{
    font-size: 16px;
    color:#757575;
}


.secondary-bg{
    background-color: #FFF8F3;
}

.about{
    border-radius: 20px;
    padding: 150px 130px;
}

main{
    max-width: 1200px;
    margin: 30px auto;

}

.about-items{
display:flex;
justify-content: space-around;

}

.items-description{
    font-weight: 600;
}